<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <title>All flights</title>
</head>
<body>
    <main>
        <div class="navbar">
            <a href="/flights"><button type="button">All Flights</button></a><br><br>
            <a href="/flights/new"><button type="button">Add Flights</button></a><br>
        </div><br><br><br>  
        <% for (let f of result) { %>
            <% let time = f.departs.toISOString().slice(11, 16); %>
            <% let localeDate = f.departs.toLocaleDateString(); %>
            <div> 
           Airline: <strong> <%= f.airline,  %> </strong> <br>
           Airport: <strong> <%= f.airport, %> </strong> <br>
           Flight Number: <a href="/flights/<%= f._id %>"><strong><%= f.flightNo, %> </strong></a>  <br>
           Departure: <strong> <%= localeDate %> at <%= time %>  </strong> <br><br><br>
        <% } %> </div>
        <br><br>
    </main>
</body>
</html>